<launch>

    <arg name="model" default="$(env TURTLEBOT3_MODEL)"/>
    <arg name="init_pose" value="-x 2 -y 0 -z 0"/>
    <arg name="robot_name" value="robot"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose) -urdf -param robot_description -model $(arg robot_name)" output="screen"/>

</launch>